/node_modules
/public/docs
/public/hot
/public/temporaryMaterial
/public/uploads
/public/storage
/public/*.txt
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
laravel-echo-server.json
app/Http/Controllers/Web/TestController.php
composer.lock
